main{
  min-height: 80vh;
}

.rating span{
  margin: 0.1rem;
}

h3{
  padding: 1rem 0;
}

.img-rounded{
  border-radius: 8px
}

hr{
  border: 0;
  height: 2px;
  background: #375a7f;
  background-image: linear-gradient(to right, #303030, #375a7f, #303030);
}